<p>
  Dear <%=@user.fname%>,
</p>
<p>
  Thankyou for your payment to Normanhurst Rover Crew for Magical Mystery Tour 2019. Now your payment has been received, the tickets you created before checkout will be sent out.
</p>
<p>
  Before you and your bretheren turn up to MMT, <b>you all need to fill out the full details form</b>. This will be sent to you soon.
</p>
<p>
  Please find below, a review of your payments(most recent first).
</p>
<%if @payments.any? then%>
  <p>
    <%@payments.each do |p|%>
      <div style="padding-bottom: 1em;">
        <div>
          Payment Logged: <%=p.created_at%>
        </div>
        <div>
          Method: <%=p.method_string%>
        </div>
        <div>
          Amount: $<%=p.amount%>
        </div>
      </div>
    <%end%>
  </p>
<%end%>
<p>
  Please reply to this email with any querys or questions.<br>
  If you were not expecting this email, please disregard it.
</p>
<p>
  Grant Perry<br>
  Webmaster and bookings<br>
  Normanhurst Rover Crew
</p>
