
<div class="center_header">
    <h1>Viking <%= @user.name.split(' ')[0] %>,</h1>
    <div>
        <%= image_tag "https://i.imgur.com/wGOXc1X.png", width: "100%", alt: "Normanhurst Rovers present our anual Magical Mystery Tour to VALHALLA" %>
    </div>
</div>
<div class="center_body">
    <p>
        Grab your battle axe and shield and join Clan Normo as we set sail for glory and Valhalla.<br>
        Bring a copy of this email (printed or digital) to the start point.
    </p>
    <div>
        <h2>When?</h2>
        <p>Make sure to leave no soul behind as you set sail to the gates of Valhalla and arrive at <b>8am, Saturday 7th September</b>.</p>
    </div>
    <div>
        <h2>Where?</h2>
        <p><%= link_to "Thornleigh Overflow Carpark", "https://goo.gl/maps/hSxDPmiRgnS3EpDo7" %></p> 
    </div>
    <h2>What to bring?</h2>
    <ul>
        <li>ID (Drivers Licence)</li>
        <li>This email printed or digital (We just need the QR code)</li>
        <li>Tent and camping gear </li>
        <li>Warm clothing</li>
        <li>Snacks and beverages</li>
        <li>Swords, beards, breast plates, helmets, your best viking hair-do and war paint!</li>
        <li>Reliable vehicle and your team</li>
    </ul>
    <%if @not_paid then%>
    <h2>Payment</h2>
    <p>
    <b>
        Our records show you OR the person who made you booking, has not paid yet. If you have already paid by EFT, it takes some time for the payment to arrive in our account. Please bring a receipt from your banking app so we can verify the payment on the day.<br>
        If you are paying in cash, please bring $40.00 cash to the start.
    </b>
    </p>
    <%end%>
    <p>
        If you have any questions, please reply to this email or message us directly on Facebook. 
    </p>
    <p>
        The MMT Team
    </p>
    <div>
        <%= image_tag attachments['qr.png'].url, class: "center_qr", alt: "Ticket UID: #{@uid}, Ticket ID: #{@ticket.id}" %>
    </div>
</div>