<p>
  Hi <%= @user.fname %>,
</p>
<p>
  Please verify your email and continue your booking.
</p>
<p>
  <a href="<%= @verify_url %>">Click Here</a> to continue your registration.
</p>
<p>
	Please reply to this email with any querys or questions.<br>
	If you were not expecting this email, please disregard it.
</p>
<p>
  Regards,
  Grant Perry<br>
  Webmaster and bookings<br>
  Normanhurst Rover Crew
</p>
