// require this babelrc specifically for the
{
  "presets": [
    ["@babel/preset-env",{
      "targets": {"node": "10"}
    }],
    "@babel/preset-react",
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "actions": "./client/actions/",
        "components": "./client/components/",
        "lib": "./client/lib/",
        "store": "./client/store/",
				"views": "./client/views/",
				"tests": "./tests/",
				"admin": "./"
      }
    }]
  ]
}