<p>
  Dear <%=@user.fname%>,
</p>
<p>
	You have purchased a ticket(or some nice human has bought you one). <b>Now we need you to tell us a little bit more about yourself</b>.
</p>
<a href="<%=@url%>">
	Please click this link to continue your registration!
</a>
<p>
  Please reply to this email with any querys or questions.<br>
  If you were not expecting this email, please disregard it.
</p>
<p>
  Grant Perry<br>
  Webmaster and bookings<br>
  Normanhurst Rover Crew
</p>
