<div class="center_body">
    <p>
        MASSIVE thank you to everyone who attended MMT over the weekend and to everyone who helped make it a huge huge success. 
        We'd love to hear everyone's thoughts on the event to help us celebrate what we did well this year and what to improve on next year!!<br/>
        If you haven't already, could you please take 2-5min to complete the survey below:
        <%=link_to "The survey", "https://www.surveymonkey.com/r/MYVMYBP" %>
    </p>
    <p>
        Thanks,<br/>
        Normanhurst Rover Crew
    </p>
</div>